@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Poppins:wght@200&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* variables */
:root {
    --clr-celeste: #60c1d0;
    --clr-celeste-hover: #9bf2ff;
    --clr-gris-: #35372b;
    --clr-gris-claro: #393a33;
    --crl-azul: #2e4e88;
    --crl-negro: #05080e;
    --crl-blanco: #f6f5f5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--crl-blanco);
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
}


p {
    color: var(--crl-blanco);
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-align: center;
}
html{
    scroll-behavior: smooth;
}


/* inicia estilos de HERO */
.container-hero {
    background-image: url(./img/hero.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px var(--crl-negro);
}
.nav .item-nav:hover{
    text-shadow: 0 0 2rem var(--crl-negro);
}

.container-button-h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 100px;
    color: var(--crl-blanco);
    text-shadow: 0.5rem 0.5rem 0.5rem var(--crl-negro);
}

.hero {
    font-family: 'Anton', sans-serif;
    font-size: 100px;
    color: var(--clr-celeste);
}

.button-join {
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 0.5rem;
    margin: 1rem;
    background-color: var(--clr-celeste);
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    transition: all 0.5s;
}

.button-join a:hover{
     color: var(--crl-negro);
}
.button-join:hover {
    background-color: var(--clr-celeste-hover);
    
}

/*boton wsp*/

.img-wp{
    width: 3rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    transition: transform .5s;
    z-index: 1;
    
}
.img-wp:hover{
    transform: scale(1.2);
}
/* botones de barra */
.boton-abrir-menu,
.boton-cerrar-menu {
    font-size: 1rem;
  display: none;
  background-color: var(--clr-celeste);
  margin: 0.5rem;
  padding: .3rem .5rem;
  cursor: pointer;
  border: 0;
  border-radius: 0.5rem;
  color: var(--crl-negro);
}
/* section quienes somos */
.quienes-somos {
    background-color: var(--clr-gris-claro);
    padding-left: 3rem;
    padding-right: 3rem;
    
}

.container-quienes-somos {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

h2 {
    color: var(--crl-blanco);
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 3.5rem;
    text-shadow: 0.5rem 0.5rem 0.5rem var(--crl-negro);
    text-align: center;
    padding: 1rem;
}

.container-h2-p {
    width: 100%;
    padding: 1rem;
    text-align: center;
}

.container-pictures-section {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    flex-wrap: wrap;
}

.container-picture2 {
    display: flex;
    justify-content: flex-end;
}

img {
    border-radius: 0.7rem;
}

/* inicia section CLASES */
.nuestras-clases {
    background-color: var(--clr-gris-);
    padding: 3rem;
}

.nuestras-clases h2 {
    text-align: center;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.container-card-class {
    width: 25%;
    padding: 1rem;
    position: relative;
}

.container-card-class img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.container-card-class h3 {
    position: absolute;
    color: var(--crl-blanco);
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    text-transform: uppercase;
    top: 85%;
    text-align: center;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    }
.container-card-class h3:hover{
    text-shadow: 0 0 1rem  var(--crl-negro);
}
/* inicia CONTACTANOS */
.container-contactanos {
    width: 100%;
    background-position: top;
    background-size: cover;
    position: relative;
    background-color: var(--clr-gris-claro);
   
}

form {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--crl-blanco);
    display: flex;
    flex-direction: column;
    align-items: center;

}

label,
textarea,
input {
    border: none;
    background: none;
    width: 70%;
    resize: none;
    color: var(--crl-blanco);
    font-family: 'Poppins', sans-serif;
}
input:focus {
    outline: none;
  }

input,
textarea {
    outline: none;
    border-bottom: 2px solid var(--crl-blanco);
}

.button-submit{
    width: 20%;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 0.5rem;
    margin: 1rem;
    background-color: var(--clr-celeste);
    color: var(--crl-blanco);
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    transition: color 0.5s;
    cursor: pointer;
}

.button-submit:hover {
    background-color: var(--clr-celeste-hover);
    color: var(--crl-negro);
}


/* incia FOOTER */
.footer{
    display: flex;
    background-color: var(--clr-gris-);
    justify-content: space-around;
}
.ubicacion{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.map{
    border-radius: 1rem;
    padding: 0.5rem;
}
.tex-footer{
    color: var(--crl-blanco);
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    padding-top: 1rem;
    margin: 0;
        
}
.nav-footer{
    padding: 1rem;
}
.info ul li{
    color: var(--crl-blanco);
    text-transform: uppercase;
    justify-content: center;
    margin: 0;
    font-size: .9rem;
}
.redes{
    color:var(--crl-blanco);
    padding: .5rem;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;

}

.bi-instagram:hover{
    text-shadow: 0 0 5px var(--crl-blanco);
    cursor: pointer;
}

.bi-whatsapp:hover{
    text-shadow: 0 0 5px var(--crl-blanco);
    cursor: pointer;
}
.container-derechos{
    display: flex;
    text-align: center;
    justify-content: center;
}
.derechos{
    color: var(--crl-blanco);
    
    background: var(--crl-negro); 
    padding: 1rem;
    margin: 0;
}

@media screen and (max-width: 750px) {
    .boton-abrir-menu,
    .boton-cerrar-menu {
      display: block;
      font-size: 3rem;
    }
    .container-nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: var(--crl-azul);
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.7);
        padding: 1rem;
        gap: 1rem;
        transition: 0.5s ease-in-out;
      }
    
      .nav-visible {
        opacity: 1;
        visibility: visible;
        z-index: 1;
        transition: 0.5s ease-in-out;
      }
    
      .nav{
        flex-direction: column;
        align-items: end;
      }
      .container-hero{
        flex-direction: column;
        flex-wrap: wrap;
      }

      .container-quienes-somos{
        flex-direction: column;
      }
      h1{
        font-size: 50px;
        padding: 1rem;
      }
      .container-h2-p{
        width: 100%;
        text-align: justify;
        padding: 0;
      }
      .quienes-somos{
        padding: 1rem;
      }
      .container-pictures-section{
        flex-direction: column;
        width: 100%;
        justify-content: center;
      }
      .img-section{
        display: flex;
        justify-content: center;
      }
      .img-section-1, .img-section-2{
        max-width: 280px;
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
      }
    .container-wsp{
        max-width: 200px;
    }

    .nuestras-clases{
        padding: 1rem;
    }

    .container-cards{
        flex-direction: column;
        padding: .5rem;
    }
    .container-card-class{
        width: 100%;
        padding: .5rem;
    }
    .button-submit{
        width: 40%;
    }
    .footer{
        flex-direction: column;
    }
    .info, .nav-footer, .derechos{
        
        text-align: center;
    }
    
    }


  